body {
  font-family: "Roboto Serif", serif;
  background-color: #f8fdff;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0 0 25px 0;
}
li {
  display: inline-block;
  margin: 0 20px 0 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}

.container {
  margin: 20px auto 0 auto;
}

.weather-app-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.weather-app {
  padding: 30px 5px 30px 25px;
  min-height: 370px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 8px 12px 18px 1px #dadde1;
}

.search {
  margin: 0;
}

.btn {
  width: 140px;
  box-shadow: 8px 12px 18px 1px #dadde1;
}
.col-6 {
  padding: 0 15px 0 0;
}

.col-3 {
  position: relative;
  width: 25%;
  padding: 0 15px;
}

.current-box {
  margin: 30px 0;
}

.current-city {
  font-size: 30px;
  color: gray;
}
.current-temp {
  position: relative;
  font-size: 52px;
  font-weight: 500;
}

.current-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.current-temp .active:hover {
  text-decoration: none;
}

.current-other,
.current-day {
  font-size: 18px;
  margin: 0;
  color: grey;
}

.units {
  position: absolute;
  top: 15%;
  font-size: 14px;
  text-align: left;
}

.current-forecast {
  margin-top: 25px;
  text-align: center;
  color: gray;
}

.forecast-day {
  margin: 0;
  font-size: 18px;
}

.forecast-temperatures {
  margin: 0;
  font-size: 14px;
}

.forecast-temp-max {
  color: black;
}

#data-img {
  font-size: 18px;
  color: gray;
}
